<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :category, label: 'Категория вопроса', error: "Не может быть пустым", priority: [ "Общий_вопрос" ],
   collection: [ "Общий_вопрос", "Хирургия", "Другое" ]  %>
    <%= f.input :body, as: :text, input_html: { rows: 13 }, label: 'Вопрос', error: "Не может быть пустым. От 1 до 50000 симоволов" %>
    <%= f.input :city, label: 'Город', error: "Не может быть пустым" %>
    <%= f.input :email, label: 'E-Mail', error: "Не может быть пустым" %>
    <%= f.input :phone, label: 'Контактный телефон', error: "Не может быть пустым" %>
    <%= f.input :contact, as: :text, label: 'Другие способы связи (Соц. сети, Skype, Telegram, Viber etc.)', input_html: { rows: 10 } %>
    <%= f.error :base %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Отправить вопрос" %>
  </div>
<% end %>
