<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<div class="table-responsive">
  <table class="table table-bordered table-condensed">
      <tr>
        <th> <%= "id" %></th>
        <th> <%= "Категория" %></th>
        <th> <%= "Город пациента" %></th>
        <th> <%= "Дата создания" %></th>
      </tr>

      <% @questions.each do |question| %>
        <tr>
          <td><%= link_to question.id, question_path(question) %></td>
          <td><%= question.category %></td>
          <td><%= question.city %></td>
          <td><%= question.created_at %></td>
        </tr>
      <% end %>
  </table>
</div>

