<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<div class="table-responsive">
  <table class="table table-bordered table-condensed">
     <tr>
        <th> <%= "id" %></th>
        <th> <%= "Суть вопроса" %></th>
        <th> <%= "Важность" %></th>
        <th> <%= "Город пациента" %></th>
        <th> <%= "Дата создания" %></th>
      </tr>

      <% @consultations.each do |consultation| %>
        <tr>
          <td><%= consultation.id %></td>
          <td><%= link_to consultation.subject, consultation_path(consultation) %></td>
          <td><%= consultation.importance %></td>
          <td><%= consultation.city %></td>
          <td><%= consultation.created_at %></td>
        </tr>
      <% end %>
  </table>
</div>

