<%= simple_form_for(@consultation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :subject, label: 'Предмет обращения' %>
    <%= f.input :importance, label: 'Важность проблемы'  %>
    <%= f.input :body, label: 'Вопрос' %>
    <%= f.input :city, label: 'Город' %>
    <%= f.input :skype, label: 'Skype name' %>
    <%= f.input :email, label: 'E-Mail' %>
    <%= f.input :phone, label: 'Контактный телефон' %>
    <%= f.error :base %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Отправить запрос" %>
  </div>
<% end %>
