<div style="width: 100%;">
  <p id="notice"><%= notice %></p>
  <div class="buttons_padding">
    <%= link_to 'К списку запросов на консультацию', consultations_path, class: "btn btn-primary" %>
    <% if @consultation.archive == true %>
      <%= link_to "Извлечь из архива", activate_deactivate_consultation_path, class: "btn btn-primary btn-success",
          method: "put", data: {confirm: "Извлечь из архива?"}%>
    <% end %>
    <% if @consultation.archive == false %>
    <%= link_to "Архивировать запрос", activate_deactivate_consultation_path, class: "btn btn-primary btn-danger",
          method: "put", data: {confirm: "Отправить в архив?"}%>
<% end %>


  </div>

  <div class="container">
    <h2>Подробная информация </h2>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th> ID </th>
          <td><%= @consultation.id %></td>
        </tr>

        <tr>
        <th> ФИО </th>
        <td><%= @consultation.last_name.to_s << " " <<
                @consultation.first_name.to_s << " " << 
                @consultation.patronymic_name.to_s %></td>
      </tr>
      <tr>
          <th> Пол клиента: </th>
          <td><%= @consultation.gender %></td>
        </tr>
        <tr>
          <th> Возраст клиента: </th>
          <td><%= @consultation.age %></td>
        </tr>

        <tr>
          <th> Предмет вопроса: </th>
          <td><%= @consultation.subject %></td>
        </tr>

        <tr>
          <th> Категория вопроса: </th>
          <td><%= @consultation.category %></td>
        </tr>

        <tr>
          <th> Срочность запроса: </th>
          <td><%= @consultation.importance %></td>
        </tr>

        <tr>
          <th> Хронические заболевания: </th>
          <td>
          <%= @consultation.chronic_diseases %>
          </td>
        </tr>

        <tr>
          <th> Описание проблемы: </th>
          <td><%= @consultation.body %></td>
        </tr>

        <tr>
          <th> Город: </th>
          <td><%= @consultation.city %></td>
        </tr>

        <tr>
          <th> Email: </th>
          <td><%= @consultation.email %></td>
        </tr>

        <tr>
          <th> Номер телефона: </th>
          <td><%= @consultation.phone %></td>
        </tr>

        <tr>
          <th> Skype: </th>
          <td><%= @consultation.skype %></td>
        </tr>

        <tr>
          <th> Дополнительные контакты: </th>
          <td><%= @consultation.contact %></td>
        </tr>
      
      </tbody>
    </table>
  </div>

  <div class="buttons_padding">
    
  </div>

</div>
