<div style="width: 100%;">
	<div class="section1">
		<div class="caption1">кардиохирур-аритмолог</div>
		<div class="profile-wrap">
			<div class="profile">
				<%= image_tag("profile.jpg", :alt => "rss feed") %>
			</div>
			<div class="description">В своей практике я довольно часто встречаюсь с абсолютным непониманием такой проблемы, как нарушение ритма не только пациентами, но и врачами. Это приводит к неэффективному, а иногда и вредному, лечению не приносящему облегчения. Цените свое здоровё, обращайтесь за помощью к професионалам.</div>

		</div>
	</div>
  <p id="notice"><%= notice %></p>
  <div class="buttons">
    <%= link_to 'Задать вопрос', new_question_path, class: "btn1" %> 
    <%= link_to 'Записаться на консультацию', new_consultation_path, class: "btn1" %>
  </div>

  <div class="slider">
  	<div class="slid"><%= image_tag("sl1.jpg", :alt => "sl") %></div> 
  	<div class="slid"><%= image_tag("sl2.png", :alt => "sl") %></div> 
  	<div class="slid"><%= image_tag("sl3.jpg", :alt => "sl") %></div> 
  </div>
</div>